{% extends 'base.html' %}}
{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'select2-bootstrap4-theme/dist/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'inputmask/css/inputmask.css' %}">
{% endblock %}


{% block content %}
    <div class="card card-nav-tabs">
        <div class="card-header card-header-primary text-center">
            Citas
        </div>
        <div class="card-body">
            <h4 class="card-title pull-left">Listado</h4>
            {% url 'clinica:cita-create' as create_url %}
            {% include 'snippets/button-and-search.html' with create_url=create_url %}
            <table class="table table-bordered table-striped table-sm" id="data-table"></table>
        </div>
    </div>
    {% include 'snippets/modal-content.html' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf8" src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-colreorder/js/dataTables.colReorder.min.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'select2/dist/js/select2.min.js' %}"></script>
        <script type="text/javascript" charset="utf8"
            src="{% static 'inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <!--suppress JSUnresolvedFunction -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dataTable.js' %}"></script>
    <script src="{% static 'js/requestForm.js' %}"></script>
    <!--suppress JSUnresolvedFunction -->
    <script type="text/javascript">
        // Sobreescribir urls para los botones
        urlEditar = "{% url 'clinica:cita-update' pk=0 %}";
        urlEliminar = "{% url 'clinica:cita-delete' pk=0 %}";

        function linkDiagnostico(url) {
            const link = `<a class="details-button btn btn-success btn-fab btn-icon btn-round btn-sm" title="Diagnostico" href="${url}"><i class="tim-icons icon-paper"></i></a>`;
            return `<div class="text-center">${link}</div>`;
        }

        function loadDataTable() {
            let url = "{% url 'clinica:citas-json' %}";
            let language_url = "{% static 'datatables-translate.json' %}";
            let columns = [
                {
                    data: '0',
                    title: 'Código',
                    responsivePriority: 1,
                    width: '15%',
                    visible: false
                },
                {
                    data: '1',
                    title: 'Fecha',
                    responsivePriority: 2,
                },
                {
                    data: '2',
                    title: 'Hora',
                    responsivePriority: 2
                },
                {
                    data: '3',
                    title: 'Categoria',
                    responsivePriority: 2
                },
                {
                    data: '4',
                    title: 'Paciente',
                    responsivePriority: 2,
                    searchable: false
                },
                {
                    data: '5',
                    title: 'Doctor',
                    responsivePriority: 2,
                    searchable: false
                },
                {
                    data: '0',
                    title: 'Acciones',
                    searchable: false,
                    sortable: false,
                    width: '18%',
                    responsivePriority: 3,
                    render: function (data, type, row) {
                        const url = "{% url 'clinica:diagnostico-new' cita_id=0 %}".replace('0', data);
                        return simpleBtns(data) + linkDiagnostico(url);
                    }
                }
            ];
            const conf = getDefaultDataTables(url, language_url, columns);
            conf.order = [[ 1, "asc" ], [ 2, "asc" ]];
            $table.DataTable(conf);
        }

        $(document).ready(function () {
            defaultConfig();
            loadDataTable()
        });
    </script>
{% endblock %}
