{% extends 'base.html' %}}
{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <div class="card card-nav-tabs">
        <div class="card-header card-header-primary text-center">
            Doctores
        </div>
        <div class="card-body">
            <h4 class="card-title pull-left">Listado</h4>
            {% url 'clinica:doctor-create' as create_url %}
            {% include 'snippets/button-and-search.html' with create_url=create_url %}
            <table class="table table-bordered table-striped table-sm" id="data-table"></table>
        </div>
    </div>
    {% include 'snippets/modal-content.html' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf8" src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-colreorder/js/dataTables.colReorder.min.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <!--suppress JSUnresolvedFunction -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dataTable.js' %}"></script>
    <script src="{% static 'js/requestForm.js' %}"></script>
    <!--suppress JSUnresolvedFunction -->
    <script type="text/javascript">
        // Sobreescribir urls para los botones
        urlEditar = "{% url 'clinica:doctor-update' pk=0 %}";
        urlEliminar = "{% url 'clinica:doctor-delete' pk=0 %}";
        urlDetalles = "{% url 'clinica:doctor-details' pk=0 %}";
        const urlEstado = "{% url 'clinica:doctor-estado' pk=0 %}";

        function cambiarEstado(url, datatable) {
            swal({
                title: '¿Desea cambiar el estado del doctor?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '¡Si!',
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#d33',
                confirmButtonClass: 'btn btn-danger'
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: url,
                        method: 'POST',
                        headers: {'X-CSRFToken': getCookie('csrftoken')},
                        success: function (data) {
                            if (data.result === 'OK') {
                                success_function();
                                swal("¡Completado!", "Se ha actualizado el registro.", "success");
                                datatable.DataTable().ajax.reload(null, false);
                            } else {
                                swal("Error", "¡Ha ocurrido un error inesperado al realizar la petición!", "error");
                            }
                        },
                        error: function (error) {
                            swal("Error", "", "error");
                            let message = '¡Ocurrio un error inesperado al intentar modificar el registro!';
                            if (error.responseJSON) {
                                message = error.responseJSON.result;
                            }
                            swal("Error", message, "error");
                        }
                    });
                }
            });
        }

        function estadoBtn(data) {
            const url = `${urlEstado.replace("0", data)}`;
            const btn = `<button class="estado-button btn btn-warning btn-fab btn-icon btn-round btn-sm" title="Inactivo" data-url="${url}"><i class="tim-icons icon-refresh-02"></i></button>`;
            return `<div class="text-center">${btn}</div>`;
        }

        $table.on('click', '.estado-button', function () {
            const url = $(this).data('url');
            cambiarEstado(url, $table);
        });

        function loadDataTable() {
            let url = "{% url 'clinica:doctores-json' %}";
            let language_url = "{% static 'datatables-translate.json' %}";
            let columns = [
                {
                    data: '0',
                    title: 'Código',
                    responsivePriority: 1,
                    width: '15%',
                },
                {
                    data: '1',
                    title: 'Nombre',
                    responsivePriority: 2
                },
                                {
                    data: '2',
                    title: 'Apellido',
                    responsivePriority: 3,
                },
                {
                    data: '3',
                    title: 'Teléfono',
                },
                {
                    data: '4',
                    title: 'Estado',
                    responsivePriority: 3
                },
                {
                    data: '0',
                    title: 'Acciones',
                    searchable: false,
                    sortable: false,
                    width: '18%',
                    responsivePriority: 4,
                    render: (data) => simpleBtns(data) + detailsBtns(data) + estadoBtn(data)
                }
            ];

            $table.DataTable(getDefaultDataTables(url, language_url, columns));
        }

        $(document).ready(function(){
            defaultConfig();
            loadDataTable()
        });
    </script>
{% endblock %}
