{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block content %}
    <div class="card card-nav-tabs">
        <div class="card-header card-header-primary text-center">
            Nuevo Diagnostico Cita {{ cita.pk }} Paciente {{ paciente }}
        </div>
        <div class="card-body">
            {% if diagnostico %}
                <div class="text-center text-info">
                    <h1> Diagnostico ya ingresado</h1>
                    <a class="btn btn-sm btn-success" href="{% url 'clinica:diagnostico-details' pk=paciente.pk %}">Historial
                        del Paciente</a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'clinica:citas' %}">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
            {% else %}
                <form method="post" action="{% url 'clinica:diagnostico-new' cita_id=cita.pk %}" autocomplete="off">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-block">
                                <h4 class="title">Detalles</h4>
                                <hr/>
                            </div>
                            <div class="form-horizontal row">
                                {# Agrega datos del formset #}
                                {{ formsetQuiropractica.management_form }}
                                {{ formsetFisioterapia.management_form }}
                                {{ formsetMedida.management_form }}
                                {{ formsetPeso.management_form }}
                                {% crispy form %}
                                {% crispy formsetFisioterapia %}
                                {% crispy formsetQuiropractica %}

                                <div class="row">
                                    <div class="col-6">
                                        {% crispy formsetPeso %}
                                    </div>
                                    <div class="col-6">
                                        {% crispy formsetMedida %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                {% url 'clinica:citas' as cancel_url %}

                                <div class="text-right">
                                    <button type="button" class="btn btn-sm btn-success" onclick="submitForm()">
                                        <i class="fa fa-save"></i> Guardar
                                    </button>
                                    <a class="btn btn-sm btn-secondary" href="{{ cancel_url }}">
                                        <i class="fa fa-times"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="{% static 'inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script>
        const succes_url = "{% url 'clinica:diagnostico-details' pk=paciente.pk %}";

      $('#id_Peso-0-peso').on('input', function() {
          calcularIMC();
      });

      $('#id_Peso-0-estatura').on('input', function() {
          calcularIMC();
      });


        function calcularIMC() {
            try {
                const peso = $("#id_Peso-0-peso").val();
                const estatura = $("#id_Peso-0-estatura").val();
                const imc = peso / (estatura * estatura);
                $("#id_Peso-0-imc").val(imc.toFixed(2).toString());
            } catch (_) {
                $("#id_Peso-0-imc").val(0);
            }
        }

        function submitForm() {
            $("#btn-guardar").attr("disabled", true);
            // Sobreescribir form para enviar la imagen y los datos de los formularios de producto, precios,
            let formData = new FormData();

            // Agregamos la solicitud de dieta dentro del formdata
            const fields = $('form').serializeFormJSON();
            for (let key in fields) {
                if (key === 'csrfmiddlewaretoken') continue;
                formData.append(key, fields[key].toString());
            }
            formData.set('Quiropractica-TOTAL_FORMS', 0);
            formData.set('Quiropractica-INITIAL_FORMS', 0);
            formData.set('Quiropractica-MIN_NUM_FORMS', 0);
            formData.set('Quiropractica-MAX_NUM_FORMS', 1000);
            formData.set('Fisioterapia-TOTAL_FORMS', 0);
            formData.set('Fisioterapia-INITIAL_FORMS', 0);
            formData.set('Fisioterapia-MIN_NUM_FORMS', 0);
            formData.set('Fisioterapia-MAX_NUM_FORMS', 1000);
            formData.set('Peso-TOTAL_FORMS', 0);
            formData.set('Peso-INITIAL_FORMS', 0);
            formData.set('Peso-MIN_NUM_FORMS', 0);
            formData.set('Peso-MAX_NUM_FORMS', 1000);
            formData.set('Medida-TOTAL_FORMS', 0);
            formData.set('Medida-INITIAL_FORMS', 0);
            formData.set('Medida-MIN_NUM_FORMS', 0);
            formData.set('Medida-MAX_NUM_FORMS', 1000);

            $.ajax({
                url: $('form').attr('action'),
                type: 'POST',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                data: formData,
                success: function (xhr) {
                    $('form').trigger('reset');
                    window.location.href = succes_url;
                },
                error: function (xhr) {
                    alert('Error inesperado', xhr);
                    $("#btn-guardar").attr("disabled", false);
                }
            });
        }

        $(document).ready(function () {

        });
    </script>
{% endblock %}