{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>Historial Paciente <span class="text-success">{{ paciente }}</span></h3>
            <button class="btn btn-sm btn-info" onclick="print()">Imprimir</button>
        </div>
        <div class="card-body"  id="detalles">
            {% for detalle in historial %}
                <div class="m-5 row">
                    <div class="col-sm-12 col-lg-6 border border-dark">
                        <h4>Cita</h4>
                        <p>Código: <span class="text-muted">{{ detalle.cita.id }}</span></p>
                        <p>Fecha Creación: <span
                                class="text-muted">{{ detalle.cita.created | date:"d/m/Y H:i:s" }}</span></p>
                        <p>Fecha: <span class="text-muted">{{ detalle.cita.fecha | date:"d/m/Y" }}</span></p>
                        <p>Hora: <span class="text-muted">{{ detalle.cita.hora | time:"H:i:s" }}</span></p>
                        <p>Categoria: <span class="text-muted">{{ detalle.cita.categoria }}</span></p>
                        <p>Doctor: <span class="text-muted">{{ detalle.cita.doctor }}</span></p>
                    </div>
                    <div class="col-sm-12 col-lg-6 border border-dark">
                        <h4>Diagnostico</h4>
                        <p>Código: <span class="text-muted">{{ detalle.diagnostico.id }}</span></p>
                        <p>Fecha: <span class="text-muted">{{ detalle.diagnostico.fecha | date:"d/m/Y" }}</span></p>
                        <p>Diagnostico: <span class="text-muted">{{ detalle.diagnostico.diagnostico }}</span></p>
                        <p>Receta: <span class="text-muted">{{ detalle.diagnostico.reseta }}</span></p>
                        <p>Menu: <span class="text-muted"><br>
                            Lunes: {{ detalle.diagnostico.lunes|default_if_none:'' }}<br>
                            Martes: {{ detalle.diagnostico.martes|default_if_none:'' }}<br>
                            Miercoles: {{ detalle.diagnostico.miercoles|default_if_none:'' }}<br>
                            Jueves: {{ detalle.diagnostico.jueves|default_if_none:'' }}<br>
                            Viernes: {{ detalle.diagnostico.viernes|default_if_none:'' }}<br>
                            Sabado: {{ detalle.diagnostico.sabado|default_if_none:'' }}<br>
                            Domingo: {{ detalle.diagnostico.domingo|default_if_none:'' }}
                        </span></p>
                        <p>Usuario: <span class="text-muted">{{ detalle.diagnostico.usuario }}</span></p>
                    </div>
                    {% if detalle.peso %}
                        <div class="col-sm-12 col-lg-6 border border-dark">
                            <h4>Peso</h4>
                            <p>Peso: <span class="text-muted">{{ detalle.peso.peso | default_if_none:0}}</span></p>
                            <p>Estatura: <span class="text-muted">{{ detalle.peso.estatura | default_if_none:0}}</span></p>
                            <p>IMC: <span class="text-muted">{{ detalle.peso.imc | default_if_none:0}}</span></p>
                            <p>Grasa: <span class="text-muted">{{ detalle.peso.grasa| default_if_none:0 }}</span></p>
                            <p>Agua: <span class="text-muted">{{ detalle.peso.agua| default_if_none:0 }}</span></p>
                            <p>Masa Muscular: <span class="text-muted">{{ detalle.peso.masa_muscular| default_if_none:0 }}</span></p>
                            <p>Complexión Fisica: <span class="text-muted">{{ detalle.peso.complexion_fisica| default_if_none:0 }}</span>
                            </p>
                            <p>Metabolismo Basal: <span class="text-muted">{{ detalle.peso.metabolismo_basal| default_if_none:0 }}</span>
                            </p>
                            <p>Edad Metabolica: <span class="text-muted">{{ detalle.peso.edad_metabolica| default_if_none:0 }}</span>
                            </p>
                            <p>Masa Osea: <span class="text-muted">{{ detalle.peso.masa_osea| default_if_none:0 }}</span>
                            </p>
                        </div>
                    {% endif %}
                    {% if detalle.medida %}
                        <div class="col-sm-12 col-lg-6 border border-dark">
                            <h4>Medida</h4>
                            <p>Abdomen Superior: <span class="text-muted">{{ detalle.medida.abdomen_superior | default_if_none:0}}</span></p>
                            <p>Cintura: <span class="text-muted">{{ detalle.medida.cintura| default_if_none:0 }}</span></p>
                            <p>Abdomen Inferior: <span class="text-muted">{{ detalle.medida.abdomen_inferior| default_if_none:0 }}</span></p>
                            <p>Circunferencia Brazo: <span class="text-muted">{{ detalle.medida.circunferencia_brazo| default_if_none:0 }}</span></p>
                            <p>Circunferencia Muslo: <span class="text-muted">{{ detalle.medida.circunferencia_muslo| default_if_none:0 }}</span>
                            </p>
                        </div>
                    {% endif %}
                    {% if detalle.fisioterapia %}
                        <div class="col-12 border border-dark">
                            <h4>Fisioterapia</h4>
                            <p>Precio: <span class="text-muted">{{ detalle.fisioterapia.precio_f | default_if_none:0}}</span></p>
                        </div>
                    {% endif %}
                    {% if detalle.quiropractica %}
                        <div class="col-12 border border-dark">
                            <h4>Quiropractica</h4>
                            <p>Precio: <span class="text-muted">{{ detalle.quiropractica.precio_q | default_if_none:0}}</span></p>
                        </div>
                    {% endif %}

                </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/printThis.js' %}"></script>
    <script>

    function print() {
        $("#detalles").printThis({
            importCSS: false,
            header: "<h1>Historial Paciente {{ paciente }}</h1>"
        });

    }



    </script>
{% endblock %}