{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span><b> Bienvenido <strong>{{ user.username }}</strong></b></span>
        </div>
        <div class="row text-success m-5 p-5   ">
            <img src="{% static 'assets/img/logo.jpeg' %}" alt="">
            <h1 class="ml-2 text-success text-uppercase">Bienvenido Benestar Clinica Xela</h1>
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}

    <script>
        function closeMessageWelcome() {
            $('.alert').alert('close')
        }

        $(document).ready(function () {
            setTimeout(closeMessageWelcome, 3000);
        });
    </script>
{% endblock %}
