{% load auth_extras %}

<div class="sidebar">
    {% if request.user|has_group:"Administrador"%}
            <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Clinica
            </a>
        </div>
        <ul class="nav">
            <li class="active ">
                <a href="{% url 'index' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:citas' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Citas</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:categorias' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Categorias</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:historial' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Historial</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:doctores' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Doctores</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:pacientes' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Pacientes</p>
                </a>
            </li>
            <li>
                <a href="{% url 'catalogos:users' %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Usuarios</p>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if request.user|has_group:"Asistente"%}
            <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">

            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Clinica
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="{% url 'index' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:citas' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Citas</p>
                </a>
            </li>
            <li>
                <a href="{% url 'clinica:pacientes' %}">
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Pacientes</p>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>